{% include 'tv_shows/header.html'%}
  <h1>{{tvshow_id.title}}</h1>
  <img src={{tvshow_id.image}} alt="" width="480" height="300">
<br><br>
  <h6>Description:{{tvshow_id.description}}</h6>
  <hr>
  <h6>Genre: {{tvshow_id.genre}}</h6>

  <ul>
      <h3>Reviews</h3>
      {% for i in tvshow_id.tvshow_reviews.all %}
        <li>
            <hr>
            <h4>{{i.text}}</h4>
            <h3>{{i.stars}}</h3>

        </li>
      {% endfor %}
  </ul>
  <p>Created at: {{tvshow_id.created_at}}</p>
    <hr>
        <button><a href="/tv_shows_list/{{tvshow_id.id}}/update">Edit </a></button>
        <button><a href="/tv_shows_list/{{tvshow_id.id}}/delete">Delete</a></button>

    <hr>
{% include 'tv_shows/footer.html'%}
